.header {
  display: flex;          
  align-items: center;     
  gap: 190px;  
  border: 5px solid black;
  height: 250px;             
}
.logo img {
  height: 150px;   
  width: 150px; 
  padding-left: 80px;
  margin-left: 30px;  
}
.separator {
  width: 5px;
  height: 250px;
  background-color: rgb(10, 9, 9);
}
.heading{
    display: inline;
    color: rgb(1, 91, 91);
    font-size: 40px;
}
.searchbox{
    width: 100px;
}